
div.navegador, iframe.navegador{
    padding:10px;
    background-color:white;
    border-radius: 2px;
    border: .025rem solid var(--md-typeset-table-color);
    border-top: .1rem solid var(--md-typeset-table-color);
    /* border: 1px solid var(--md-typeset-table-color); */
    
}

iframe.navegador{
    height: 200px; 
    width: 100%;
}

.color-box {
    width: 20px;
    height: 20px;
    display: inline-block;
    
}



.centered {
    text-align: center;
  }

.right{
    text-align: right;
  }

  .md-typeset code{
    font-size:.95em;
  }

  .ods-card, .ods-card6, .ods-card11, .ods-card13, .ods-card15 {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-weight: bolder !important;
    text-transform: uppercase !important;
    font-size: 1.2rem !important;
    color: white !important;
    line-height: 1.4rem !important;
    padding:20px;
  }

  .ods-card6 {background-color:#00B6DF;}
  .ods-card11 {background-color:#F7B24A;}
  .ods-card13 {background-color:#5A8C57;}
  .ods-card15 {background-color:#5BB16A;}
  