
div.navegador
{
    padding:10px;
}

div.navegador h1, div.navegador h2, div.navegador h3, div.navegador h4, div.navegador h5, div.navegador h6, div.navegador p, div.navegador ul, div.navegador ol
{
    font-family: initial;
    margin:0 0 0 20px;
    padding:0;
}


div.navegador table, div.navegador tr, div.navegador td, div.navegador th
{
    font-family: initial;
    margin:0px;
    padding:0px;
}

.mkmagr th
{
    min-width:0 !important;
    padding: 0.7em 0.7em !important;
}

.mkmagr td
{
    min-width:0 !important;
    padding: 0.5em 0.7em !important;
}

.color-box {
    width: 20px;
    height: 20px;
    display: inline-block;
    
}

